<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>   
  <add name="portafolio" connectionString="metadata=res://*/portafolio.csdl|res://*/portafolio.ssdl|res://*/portafolio.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=RODRIGOPC;PASSWORD=rodrigo;USER ID=RODRIGO&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>